.pay {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pay button {
  background: navy;
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
}
